[Desktop Entry]
Name=GM3000Admin
GenericName=GM3000Admin
Comment=GM3000Admin
Comment[zh_CN]=GM3000Admin
Exec=/opt/lm-gm3000admin/script/AppRun.sh
Terminal=false
Type=Application
Icon=/opt/lm-gm3000admin/image/LM_32.ico
Categories=Utility;Application;
StartupNotify=false

