[Desktop Entry]
Name=GM3000User
GenericName=GM3000User
Comment=GM3000User
Comment[zh_CN]=GM3000User
Exec=/opt/lm-gm3000user/script/AppRunAuto.sh
Terminal=false
Type=Application
Icon=/opt/lm-gm3000user/logo/logo.png
Categories=Utility;Application;
StartupNotify=false

